/* You can add global styles to this file, and also import other style files */
@use './config-scss/variables.scss';
@use './config-scss/reset.scss';
@use './config-scss/rem-calc.scss';

html{
    font-family: 'Roboto', sans-serif;
    background: var(--primary-color);
}

main{
    min-width: rem-calc(600);
    margin: 0 auto;
    box-sizing: border-box;
}

